:root{
    --white:#FFF;
    --black:#000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-purple:#B983FF;
    --hospital-hover-purple:#9463d4;
    --hospital-active-purple:#7f4dc0;
    --sm:14px;
    --md:16px;
    --lg:18px;
}      
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.active{
    display: flex !important;
}
.primary_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    /* padding: 16px; */
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--hospital-purple);
    color: var(--white);
    transition: all 0.15s ease-in-out;
}
.primary_btn:hover{
    background-color: var(--hospital-hover-purple);
}
.primary_btn:active{
    background-color: var(--hospital-active-purple);
}
.secondary_btn{
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--hospital-purple);
    background-color: transparent;
    color: var(--hospital-purple);
    transition: all 0.15s ease-in-out;
}



nav,.navbar-left,.navbar-right{
    display: flex;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    height: 60px;
    padding: 0px 24px;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: var(--white);
    z-index: 999;
}
.menu-mobile-img{
    display: none;
    width: 24px;
}
.logo{
    width: 100px;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin:0px;
    display: flex;
    align-items: center;
}
.navbar-left ul{
    margin-left: 24px;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border:1px solid var(--white);
    padding: 8px;
    border-radius: 8px;

}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    color: var(--hospital-purple);
    border:1px solid var(--hospital-purple);

}
/* aquí aplico estilo al email del navbar */
.navbar-right ul li:nth-child(1){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 24px;
}
.navbar-icon-cart{
    position: relative;
    cursor: pointer;
}
.navbar-right span{
    position: absolute;
    top: -9px;
    right: -9px;
    width: 16px;
    height: 16px;
    font-size: var(--sm);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hospital-purple);
    color: var(--white);
    border-radius: 50%;
    font-weight: bold;
}
#emailLink{
    cursor: pointer;
    user-select: none;
}
/* ESTILOS DE MENU DESKTOP */
.desktop-menu{
    position: fixed;
    top:59px;
    right: 70px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius:6px;
    background-color: var(--white);
    padding:20px;
    z-index: 2;
    display: none;
}
.menu_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_list li{
    text-align: end;
}
.menu_list li a{
    color: var(--black);
    display: inline-block;
    text-decoration: none;
    
}
.menu_list li:not(:last-child){
    font-weight: bold;
    margin-bottom: 20px;
}
.menu_list li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.menu_list li:last-child a{
    color: var(--hospital-purple);
    font-size: var(--sm);
}

/* estilos para mobile menu */
.mobile-menu{
    position: fixed;
    top:60px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    box-sizing: border-box;
    z-index: 2;
    background-color: var(--white);
}
.mobile-menu>ul{
    border-bottom: 1px solid var(--very-light-pink);
}
.menu_list_mobile{
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}
.menu_list_mobile li{
    text-align: start;
}
.menu_list_mobile li a{
    color: var(--black);
    display: inline-block;
    text-decoration: none;
    
}
.menu_list_mobile li, .last_i_menu li:not(:last-child){
    font-weight: bold;
    margin-bottom: 24px;
}
.last_i_menu li:last-child a{
    color: var(--hospital-purple);
    font-size: var(--sm);
}
.last_i_menu li:first-child a{
    color: var(--black);
    font-size: var(--sm);
    font-weight:300;
}
/* Cierre mobile menu */
/* Estilos de shoppig cart  */
.cart-container{
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 60px;
    z-index: 3;
    width: 360px;
    height: calc(100vh - 60px);
    padding: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: none;
    background-color: var(--white);
}
.title-container{
    display: flex;
    align-items: center;
    gap:14px;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}
.title-container img{
    transform: rotate(180deg);            
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}
.shopping-cart figure img{
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart :nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.shopping-cart :nth-child(3){
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
}
.my-order-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 8px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--text-input-field);
}
.my-order-content p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-order-content p:nth-child(2){
    font-weight: bold;
}
.my-order-content p:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}

/* MAIN CONTAINER PRODUCT GRID */
.main-container{
    margin-top: 80px;
}
.cards-container{
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding:0 10% 0 10%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill,240px);/*autofill, amplia el ancho segun la cantidad de elementos  */
    gap: 2rem;
}
.product-card{
    width: 240px;
}
.product-card>img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*nos ayudará a no dañar las dimensioens de la imagen*/
    object-position: center;
}
.product-card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.details-container :nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
.details-container :nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin: 0;
}
.product-card-info figure img{
    width: 35px;
    height: 35px;
}
.product-card-info figure{
    display: flex;
    align-items: center;
    margin: 0px;
}
/* ESTILOS DE PRODUCT DETAIL ASIDE */
.product-detail{
    position: fixed;
    top: 60px;
    right: 0;
    width: 360px;
    height: calc(100vh - 60px);
    display: none;
    padding-bottom: 24px;
    z-index: 2;
    background-color:var(--white);
    box-sizing: border-box;
    flex-direction: column;
    overflow-y:scroll;

}
.product-detail-close{
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--white);
z-index: 2; 
position: absolute;
border-radius: 50%;
cursor: pointer;
top:12px;
left: 12px;

}
.product-detail-close > img{
width: 15px;
height: 15px;
}
.img-detail-principal{
width: 100%;
object-fit: cover;
height: 360px;
border-radius: 0 0 20px 20px;
}
.product-info{
margin: 24px 24px 0px 24px;
}
.product-info p:nth-child(1){
font-weight: bold;
font-size: var(--md);
margin-top: 0;
margin-bottom: 4px;
}
.product-info p:nth-child(2){
color: var(--very-light-pink);
font-size: var(--md);
margin-top: 0;
margin-bottom: 36px;
}
.product-info p:nth-child(3){
color: var(--very-light-pink);
font-size: var(--sm);
margin-top: 0;
margin-bottom: 36px;
}



@media(min-width:771px){
    .mobile-menu{
        display: none!important;
    }
}

@media (max-width:770px){
    .menu-mobile-img{
        display: block;
        cursor: pointer;
    }
    .navbar-left,.navbar-right ul li:nth-child(1){
        display: none;
    }
    /* desktopmenu */
    .desktop-menu{
        display: none;
    }
    /* mobile menu responsive sm */
    .mobile-menu{
        height: calc(100vh - 60px);
        flex-direction: column;
        display: none;
        overflow-y: scroll;
    }
    .mobile-menu div{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    /* Shopping cart aside */
    .cart-container{
        width: 100%;
    }
    /* MAIN CONTAINER PRODUCT */
    .cards-container{
        grid-template-columns: repeat(auto-fill,140px);
        padding:0;
    }
    .product-card{
        width: 140px;
    }
    .product-card>img{
        width: 100%;
        height: 140px;
        cursor: pointer;
    }
    /* ESTILOS PRODUCT DETAIL ASIDE */
    .product-detail{
        width: 100%;
    }
}
