@import '@vars';
.menu-desktop {
    position: fixed;
    top: 59px;
    right: 70px;
    width: 100px;
    height: auto;
    border: 1px solid $very-light-pink;
    border-radius: 6px;
    background-color: $white;
    padding: 20px;
    z-index: 4;
}

.menu_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_list li{
    text-align: end;
}
.menu_list li a{
    color: $black;
    display: inline-block;
    text-decoration: none;
    
}
.menu_list li:not(:last-child){
    font-weight: bold;
    margin-bottom: 20px;
}
.menu_list li:last-child{
    padding-top: 20px;
    border-top: 1px solid $very-light-pink;
}
.menu_list li:last-child a{
    color: $hospital-purple;
    font-size: $sm;
}
@media (max-width:770px){
    .menu-desktop{
        display: none;
    }
}