@import '@styles/vars';
.mobile-menu{
    position: fixed;
    top:60px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    box-sizing: border-box;
    z-index: 2;
    background-color: $white;
}
.mobile-menu>ul{
    border-bottom: 1px solid $very-light-pink;
}
.menu_list_mobile{
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
}
.menu_list_mobile li{
    text-align: start;
}
.menu_list_mobile li a{
    color: $black;
    display: inline-block;
    text-decoration: none;
    
}
.menu_list_mobile li, .last_i_menu li:not(:last-child){
    font-weight: bold;
    margin-bottom: 24px;
}
.last_i_menu li:last-child a{
    color: $hospital-purple;
    font-size: $sm;
}
.last_i_menu li:first-child a{
    color: $black;
    font-size: $sm;
    font-weight:300;
}

@media (min-width:640px){
    .mobile-menu{
        display: none;
    }
}
@media (max-width:640px){
    .mobile-menu{
        height: calc(100vh - 60px);
        flex-direction: column;
        overflow-y: scroll;
    }
    .mobile-menu div{
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-between;
    }
}