@import '@styles/vars';

.product-card{
    width: 240px;
    position: relative;
}
.product-card-img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
.product-card-img:after{
    width: 240px;
    height: 240px;
    background-color: rgba(136, 67, 67, 0.7);
    content: "Ver Detalles";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity:0;
    border-radius: 20px;
    transition: all ease-in-out 0.2s;
}
.product-card-img:hover:after{
    opacity:1;
}
.product-card-img img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.product-card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.details-container :nth-child(1){
    font-weight: bold;
    font-size: $md;
    margin-top: 0px;
    margin-bottom: 4px;
}
.details-container :nth-child(2){
    font-size: $sm;
    color: $very-light-pink;
    margin: 0;
}
.product-card-info figure img{
    width: 35px;
    height: 35px;
    transition: all 0.1s;
}
.product-card-info figure img:hover{
    width: 40px;
    height: 40px;
}
.product-card-info figure{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0px;
}
@media (max-width:640px){
    .product-card-img, .product-card-img img{
        width: 140px;
        height: 140px;
    }
    .product-card{
        width: 140px;
    }
    .product-card-img:after{
        width: 140px;
        height: 140px;
    }
}