@import '@styles/vars';
.main-container{
    margin-top: 80px;
}
.cards-container{
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding:0 10% 0 10%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill,240px);/*autofill, amplia el ancho segun la cantidad de elementos  */
    gap: 2rem;
}
.no-products-found{
    width: 100%;
    color: $very-light-pink;
    display: flex;
    justify-content: center;
}
// .no-products-found>h2{
//     width: 100%;
//     color: $very-light-pink;
//     text-align: center;
// }

@media (max-width:640px){
    /* MAIN CONTAINER PRODUCT */
    .cards-container{
        grid-template-columns: repeat(auto-fill,140px);
        padding:0;
    }
}