@import '@vars';
.product-detail{
    position: absolute;
    right: 0;
    width: 360px;
    padding-bottom: 24px;
}
.product-detail-close{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    z-index: 2; 
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    top:12px;
    left: 12px;
    
}
.product-detail-close > img{
    width: 15px;
    height: 15px;
}
.img-detail-principal{
    width: 100%;
    object-fit: cover;
    height: 360px;
    border-radius: 0 0 20px 20px;
}
.product-info{
    margin: 24px 24px 0px 24px;
}
.product-info p:nth-child(1){
    font-weight: bold;
    font-size: $md;
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info p:nth-child(2){
    color: $very-light-pink;
    font-size: $md;
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info p:nth-child(3){
    color: $very-light-pink;
    font-size: $sm;
    margin-top: 0;
    margin-bottom: 36px;
}
@media(max-width:640px){
    .product-detail{
        width: 100%;
    }
}