@import '@styles/vars';
.main-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    padding:0 10%;
    .category-name{
        font-size: 3rem;
    }
}
.cards-container{
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4,1fr);/*autofill, amplia el ancho segun la cantidad de elementos  */
    justify-items: stretch;
    gap: 2rem;
}
.no-products-found{
    width: 100%;
    color: $very-light-pink;
    display: flex;
    justify-content: center;
}

@media (max-width:1300px){
    /* MAIN CONTAINER PRODUCT */
    .main-container{
        padding:0 5%;
        .category-name{
            font-size: 2rem;
        }
        .cards-container{
            width: 100%;
            grid-template-columns: repeat(3,1fr);
            padding:0;
            gap: 1rem;
        }
    }
}
@media (max-width:800px){
    /* MAIN CONTAINER PRODUCT */
    .main-container{
        // padding:0 1%;
        .category-name{
            font-size: 2rem;
        }
        .cards-container{
            width: 100%;
            grid-template-columns: repeat(2,1fr);
            padding:0;
        }
    }

}