@import '@vars';
.primary_btn{
    width: 100%;
}
.shopping-cart-container{
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 60px;
    bottom: 0;
    z-index: 3;
    width: 360px;
    padding: 16px;
    box-sizing: border-box;
    overflow-y:auto;
    background-color: $white;
}
.title-container-shopping-cart{
    display: flex;
    align-items: center;
    gap:14px;
    cursor: pointer;
}
.title-shopping-cart{
    font-size: $lg;
    font-weight: bold;
}
.title-container-shopping-cart img{
    transform: rotate(180deg);            
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}
.shopping-cart figure img{
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart :nth-child(2){
    color: $very-light-pink;
    font-size: $sm;
}
.shopping-cart :nth-child(3){
    color: $black;
    font-size: $md;
    font-weight: bold;
}
.my-order-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 8px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: $text-input-field;
}
.my-order-content p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-order-content p:nth-child(2){
    font-weight: bold;
}
.my-order-content p:nth-child(1){
    font-size: $md;
    font-weight: bold;
}
.mjs-add-products{
    color: $very-light-pink;
    text-align: center;
    padding: 3rem 1rem;
}
.close-x{
    cursor: pointer;
}
@media(max-width:640px){
    .shopping-cart-container{
        width: 100%;
    }
}