@import '@styles/vars';

.create-account{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
.create-account_form-container{
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.create-account_logo{
    width: 150px;
    margin-bottom: 32px;
    justify-self: center;
    display: block;
}
.form_title{
    font-size: $lg;
    text-align: left;
    margin-bottom: 12px;
    margin-bottom: 36px;
}
.create-account_form{
    display: flex;
    flex-direction: column;

}
.create-account_form a{
    color: $hospital-purple;
    font-size: $sm;
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;

}
.create-account_form div{
    display: flex;
    flex-direction: column;
}
.form_label{
    font-size: $sm;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 600;
}
.form_input{
    background-color: $text-input-field;
    border: none;
    border-radius: 8px;
    padding:6px;
    height: 30px;
    font-size: $md;
    margin-bottom: 16px;
}
.input_passw, .input_email, .input_name{
    margin-bottom: 22px;
}
.form_input::placeholder{
    color: $hospital-purple;
    padding-top: 8px;
}
.form_btn{
    margin-top: 14px;
    margin-bottom: 32px;
}
@media (max-width:640px){
    .create-account_form{
        height: 100%;
        justify-content: space-between;
    }
    .create-account_logo{
        width: 150px;
        justify-self: center;
        display: block;
    }
}