@import '@vars';

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login_form-container{
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.login_logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.form_title{
    font-size: $lg;
    text-align: center;
    margin-bottom: 12px;
}
.form_subtitle{
    color: $very-light-pink;
    font-size: $md;
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
}
.login_form{
    display: flex;
    flex-direction: column;

}
.login_form a{
    color: $hospital-purple;
    font-size: $sm;
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;

}
.form_label{
    font-size: $sm;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 600;
}
.form_input{
    background-color: $text-input-field;
    border: none;
    border-radius: 8px;
    padding:10px 8px 10px;
    font-size: $md;
    margin-bottom: 16px;
}
.form_input::placeholder{
    color: $hospital-purple;
    padding-top: 8px;
}
.form_btn{
    margin-top: 14px;
    margin-bottom: 32px;
}
@media (max-width:640px){
    .login_logo{
        display: block;
    }
    .sign_up_btn{
        bottom: 60px;
        justify-self: center;
    }
}