@import '@styles/vars';

.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.title{
    font-size: $lg;
    margin-bottom: 40px;
}
.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 8px;
    gap: 16px;
    box-sizing: border-box;
    align-items: center;
}
.my-order-content p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-order-content p:nth-child(2){
    font-weight: bold;
    /* align-self: center; */
}
.my-order-content p span:nth-child(1){
    font-size: $md;
    font-weight: bold;
}
.my-order-content p span:nth-child(2){
    font-size: $sm;
    color: $very-light-pink;
}