@import '../vars';
.my-account{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.my-account_form-container{
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.form_title{
    font-size: $lg;
    text-align: left;
    margin-bottom: 12px;
    margin-bottom: 36px;
}
.my-account_form{
    display: flex;
    flex-direction: column;

}
.my-account_form div{
    display: flex;
    flex-direction: column;
}
.form_label{
    font-size: $sm;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 600;
}
.value{
    margin: 8px 0px 22px 0px;
    font-size: $md;
    color: $very-light-pink;

}
.form_btn{
    margin-top: 14px;
    margin-bottom: 32px;
}
@media (max-width:640px){
    .my-account_form-container{
        height: 100%;
    }
    .my-account_form{
        height: 100%;
        justify-content: space-between;
    }
}