$white:#FFF;
$black:#000;
$very-light-pink: #C7C7C7;
$text-input-field: #f7f7f7;
$hospital-purple:#B983FF;
$hospital-hover-purple:#9463d4;
$hospital-active-purple:#7f4dc0;
$sm:14px;
$md:16px;
$lg:18px;
