@import '@vars';
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.primary_btn{
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: $md;
    font-weight: bold;
    cursor: pointer;
    background-color: $hospital-purple;
    color: $white;
    transition: all 0.15s ease-in-out;
}
.primary_btn:hover{
    background-color: $hospital-hover-purple;
}
.primary_btn:active{
    background-color: $hospital-active-purple;
}
.primary_btn:disabled,
.primary_btn[disabled]{
  background-color: #cccccc;
  color: #666666;
}
.secondary_btn{
    // width: 100%;
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: $md;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid $hospital-purple;
    background-color: transparent;
    color: $hospital-purple;
    transition: all 0.15s ease-in-out;
}